*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

.grid-container{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 6% 28% 28% 15% 12% 7% 1fr;
  grid-template-rows: 7% 5% 5% 5% 5% 5% 25% 20% 1fr;
}


.grid-container{
  background-color: rgb(253, 252, 252);
}

.one{
  background-color: rgb(55, 134, 252);
}

.two{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;

}

.profile-pic{
  height: 25px;
  width: 25px;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 4px;
}

.eight{
  background-color: rgb(207, 204, 204);
}



.nine{
  font-family: Arial;
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  margin: 15px 0px 10px;
}

.fifteen{
  display: flex;
  justify-content: space-around;
  background-color:  rgb(235, 233, 233);

}

.todo{
  height: 25px;
  width: 25px;
  margin-top: 9px;
}

.sixteen{
  font-family: Arial;
  display: flex;
  justify-content: space-around;
  font-size: 22px;
  font-weight: bold;
  margin: -15px;

}

.twenty-two{
  display: flex;
  justify-content: space-around;
  background-color: rgb(235, 233, 233);
}

.clients{
  height: 25px;
  width: 25px;
  margin-top: 6px;
}


.twenty-nine{
  display: flex;
  justify-content: space-around;
  background-color: rgb(235, 233, 233);
}

.money{
  height: 25px;
  width: 25px;
  margin-top: 6px;

}

.graph{
  border-radius:6px;

}

.lead-rotation{
  height: 300px;
  width: 275px;
  margin-left: 90px;

}

.thirty-six{
  display: flex;
  justify-content: space-around;
  background-color: rgb(235, 233, 233);
}

.calendar{
  height: 25px;
  width: 25px;
  margin-top: 6px;
}

.forty-three {
  background-color:  rgb(235, 233, 233);
}

/* .fifty{
  background-color:  rgb(235, 233, 233);
}  */

.fifty-seven{ 
  background-color:  rgb(235, 233, 233);
  grid-row: 8/9;
  grid-column: 1/2;
} 

.fifty{
  grid-row: 8/9;
  grid-column: 2/3;
  border-top: 10px solid #25f0f0;
  border-radius: 6px;
  margin: 15px;
}

.fifty-one{
  border-left: 4px solid rgba(179, 172, 172, 0.986);
  border-right: 4px solid rgba(179, 172, 172, 0.986);
  border-bottom: 4px solid rgba(179, 172, 172, 0.986);
  margin: 15px;
  border-radius: 6px;
  grid-row: 8/9;
  grid-column: 2/3;
}

.fifty-two{
  border: 2px solid black;
  margin: 15px;
  border-radius: 6px;
  border-top: 10px solid hsl(253, 76%, 65%);
}

.fifty-two{
  border-left: 4px solid rgba(179, 172, 172, 0.986);
  border-right: 4px solid rgba(179, 172, 172, 0.986);
  border-bottom: 4px solid rgba(179, 172, 172, 0.986);
  margin: 15px;
  border-radius: 6px;
  grid-row: 8/9;
  grid-column: 3/4;
}

.fifty-eight{
  border: 2px solid black;
  margin: 15px;
  border-radius: 6px;
  border-top: 10px solid rgb(85, 179, 241);
}

.fifty-eight{
  border-left: 4px solid rgba(179, 172, 172, 0.986);
  border-right: 4px solid rgba(179, 172, 172, 0.986);
  border-bottom: 4px solid rgba(179, 172, 172, 0.986);
  margin: 15px;
  border-radius: 6px;
  grid-row: 9/9;
  grid-column: 2/3;
}

.fifty-nine{
  border: 2px solid black;
  margin: 15px;
  border-radius: 6px;
  border-top: 10px solid #f39999;
}

.fifty-nine{
  border-left: 4px solid rgba(179, 172, 172, 0.986);
  border-right: 4px solid rgba(179, 172, 172, 0.986);
  border-bottom: 4px solid rgba(179, 172, 172, 0.986);
  margin: 15px;
  border-radius: 6px;
  grid-row: 9/9;
  grid-column: 3/4;
}

.sixty{
  background-color:  rgb(235, 233, 233);
}


/* .top{
  width: 100%;
  height: 5px;
  color: lime;
} */

.ninety{
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

p{
  margin: 0;
}
.nps{
  margin-top: -70px;
  margin-left: 5px;
  font-family: Arial;
  font-weight: bold;
  font-style: italic;
}

.rank{
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.rank-title{
  margin-top: -70px;
  margin-left: 5px;
  font-family: Arial;
  font-weight: bold;
  font-style: italic;
}


.closing-rate{
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 45px;
}

.rate{
  margin-top: -80px;
  margin-left: 5px;
  font-family: Arial;
  font-weight: bold;
  font-style: italic;
}

.points{
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 45px;
}

.point-count{
  margin-top: -80px;
  margin-left: 5px;
  font-family: Arial;
  font-weight: bold;
  font-style: italic;
}

.button1 {
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 3px 3px;
	text-decoration:none;
  text-shadow:0px 1px 0px #1570cd;
  font-size: 12px;
  margin: 5px 5px;
  
}
.button1 {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
	background-color:#1e62d0;
}

.button2 {
    background-color:#89c403;
    border-radius:18px;
    border:1px solid #74b807;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:7px;
    font-weight:bold;
    padding:6px 6px;
    text-decoration:none;
    margin: 5px 0px 0px 2px;
  }

  .button2:hover {
    background-color:#77a809;
  }

  .button-group{
    background-color:#3d94f6;
	  border-radius:6px;
	  border:2px solid #337fed;
  	padding: 10px 10px;
    margin: 3px 40px;
    width: 200px;
  }

  .me, .atx{
    font-size: 13px;
    font-weight: bold;
    font-family: Arial;
    border-radius: 5px;
    width: 40px;
    height: 30px;
    margin-right: .5px;
  }

  .company{
    font-size: 13px;
    font-weight: bold;
    font-family: Arial;
    border-radius: 5px;
    width: 85px;
    height: 30px;
    margin-left: 2px;
  }


.dropbtn {
  background-color:#3d94f6;
  color: white;
  padding: 12px;
  font-size: 10px;
  font-weight: bold;
  border: none;
  border-radius:6px;
  margin: 3px 0px 0px 3px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #5ba0e6;
}

.dropdown:hover .dropdown-content {
  display: block; 
}

.dropdown:hover .dropbtn {
  background-color: #5ba0e6;
}

