*{
  background-color: red;
}

.grid-container{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 6% 28% 28% 15% 12% 7% 1fr;
  grid-template-rows: 7% 5% 5% 5% 5% 5% 25% 20% 1fr;
}